<div class ="top">
    <% if(!user){ %>
        <p><a href = "/register" class="register">Register</a>

        <a href = "/login" class = "login">Login</a> </p>

    <% } else{ %>
        <form method="POST" action="/logout">
        <input type="submit" value="Logout" class="login"></form>
        <p class="hello">Hello, <%= user['email'] %>!</p>
    <% } %>

<a class="tinyapp" href = "/">TinyApp</a>

</div>




