<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
  </head>
  <body>
    <header>
    <% include partials/_header %>
    </header>
    <h1>Login</h1>
    <div class="box">
    <% if(!user){ %>
        <form method="POST" action="/login">
        <p> <label for="email"></label>
          <input id="email" type="email" name="email" placeholder="Email" style="width: 400px"></br>
          <label for="password"></label>
          <input id="password" type="password" name="password" placeholder="Password" style="width: 400px"></br>

        <input type="submit" value="Login"></form> </p>

    <% } else{ %>
        <form method="POST" action="/logout">
        <p>Hello, <%= user['email'] %>!</p><input type="submit" value="Logout"></form>
    <% } %>

      </form>
      </p>
      </div>
  </body>
</html>