<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
  </head>
  <body>
    <header>
    <% include partials/_header %>
    </header>
    <h1>Register</h1>
    <div class ="box">
      <p><form action="/register" method="POST" style="margin:30px;">
        <label for="userEmail"></label>
          <input id="userEmail" type="email" name="email" placeholder="Email" style="width: 400px" minlength="4" required></br>

        <label for="userPassword"></label>
          <input id="userPassword" type="password" name="password" minlength="8" placeholder="Password [min 8 characters]" style="width: 400px" required></br>

        <input type="submit" value="Register">
        </form>
      </p>
      </div>
  </body>
</html>