<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="/assets/stylesheets/main.css">
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <h1>My short URL</h1>
    <div class="box">
      <form method="POST" action="/urls/<%= shortURL %>/update">
        <input id="modifyURL" type="text" name="modifyURL" placeholder="<%= urls[user['id']][shortURL]  %>" style="width: 85%">
        <input type="submit" value="Update">
      </form>

      <p class="short">Shortened:</p>
      <span class="list">http://localhost:8080/u/<%= shortURL %></span>

      <p><a class = "homelink" href = '/urls'>See all your URLs</a></p>
      <p><a class = "homelink" href = '/urls/new'>Shorten another URL</a></p>
    </div>
</body>
</html>
