<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>
    <h1>Shorten my URL</h1>
      <div class ="box">
          <form action="/urls/new" method="POST">
            <input id="longURL" type="text" name="longURL" placeholder="http://my_loooooooong_url" style="width: 75%" minlength="4">
            <input type="submit" value="Shorten!">
          </form>
        </p>
      </div>
    </form>
  </body>
</html>