<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <h1>Shortened URL</h1>
    <p>Full: <%= urls[shortURL]  %></p>
    <p>Shortened: http://localhost:8080/u/<%= shortURL %></p>

    <form method="POST" action="/urls/<%= shortURL %>/update">
    <label for="modifyURL">Modify your URL:</label>
    <input id="modifyURL" type="text" name="modifyURL" placeholder="<%= urls[shortURL]  %>" style="width: 300px">

    <input type="submit" value="Update">
    </form>

    <p><a href = '/urls'>See all your links</a></p>
</body>
</html>